@import "../../../module.variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.HomePage {
  .SectionHead {
    .banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 45px;

      .info {
        padding: 30px 0;
        max-width: 100%;
        width: 600px;
      }
    }

    .numberReports {
      .item {
        text-align: center;
        border: 1px solid rgba($color: $primary, $alpha: 0.1);
        padding: 15px;
        border-radius: $borderRadius;
        box-shadow: 0px 0px 6px $primary;
        background: transparent;
        position: relative;

        .label {
          color: $grey;
          margin-bottom: 5px;
        }

        .value {
          font-weight: 500;
          color: $primary;
          font-size: 1.4em;
        }
      }
    }
  }
}

.Mobile {
  .HomePage {
    .SectionHead {
      padding-top: 30px;
      padding-bottom: 10px;

      .banner {
        display: block;
        padding: 15px;
        margin-bottom: 10px;

        .info {
          padding: 15px 0;
        }
      }

      .numberReports {
        padding: 15px;

        .item {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.stake-stats {
	span {
		font-family: 'Orbitron', sans-serif;
        margin-left: 10px;
	}
}