// ============================ Required Core style ================================
$primary: #2744ec;
$success: #69c62f;
$info: #3a82ff;
$warning: #f08f17;
$danger: #ff303a;

$white: #fff;
$light: #f7f9fc;
$dark: #454545;
$grey: #707070;

$borderRadius: 5px;
$borderColor: rgba(#8f9bb3, 0.3);

$zIndexTableFilter: 100;
$zIndexNotifier: 500;
// ============================ End Required Core style ============================

$inputHeight: 38px;
$boxShadow: 0px 3px 6px rgba($dark, 0.3);
$zIndexModal: 200;

@mixin flexBox($justifyContent: center, $alignItems: center, $direction: row) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
}